<a href="https://colab.research.google.com/github/luh66/aula-progra/blob/main/aula20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Listas são estruturas de dados formadas por elementos
num = [1, 4, 3, 6, 9]

In [3]:
#tamanho de uma lista
len(num)

5

In [4]:
#listas der outros tipos
alunos = ['Mariana', 'Luiz', 'Higor', 'Enzo', 'Valentina']

In [5]:
len(alunos)

5

In [8]:
#alterar os valores de itens de uma lista
alunos[3] = 'ivan'

['Mariana', 'Luiz', 'Higor', 'ivan', 'Valentina']

In [9]:
#inserir valores na lista .append()
alunos.append('Alex')
alunos

['Mariana', 'Luiz', 'Higor', 'ivan', 'Valentina', 'Alex']

In [11]:
alunos.append(input('digite um nome: '))

digite um nome: josé, rodrinho

In [12]:
alunos

['Mariana',
 'Luiz',
 'Higor',
 'ivan',
 'Valentina',
 'Alex',
 'batata e cebolinha',
 'josé, rodrinho']

In [13]:
#descobrir se há um determinado valor na lista, exibir sua resposta
if 'Luiz' in alunos:
  print('sim,tem um Luiz na lista')
else:
  print('não há Luiz na lista')

sim,tem um Luiz na lista

In [14]:
alunos.append(input('digite um nome: '))
if '' in alunos:
  print('tem')
else:
  print('não tem')

digite um nome: Rodrigo
não tem

In [ ]:
#deletar um item específico da lista 
del alunos[0]

In [19]:
#criar uma lista de números de 1 a 15
numeros = []
for num in range(15):
  numeros.append(num)
print(numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [20]:
dobro = []
for num in numeros:
  dobro.append(numeros[num]*2)
dobro

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [21]:
#descobrir se um número é par
a = 8
if a%2 == 0:
  print('é par')
else:
  print('é impar')

é par

In [25]:
for num in numeros:
  if numeros[num]%2 == 0:
    print(numeros[num])

0
2
4
6
8
10
12
14